<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_book"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network"
        android:roundIcon="@mipmap/ic_book"
        android:supportsRtl="true"
        android:theme="@style/SplashScreenTheme"
        tools:targetApi="31">
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomepageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".buku.ListBukuActivity"
            android:exported="false" />
        <activity
            android:name=".buku.UpdateAddBukuActivity"
            android:exported="false" />
        <activity
            android:name=".member.ListMemberActivity"
            android:exported="false" />
        <activity
            android:name=".member.UpdateAddMemberActivity"
            android:exported="false" />
        <activity android:name=".buku.RentBookActivity"
            android:exported="false"/>
        <activity android:name=".buku.ReturnBookActivity"
            android:exported="false"/>/

    </application>

</manifest>